header {
    padding: 50px 0 50px;
    fill: #ffffff;
}

h1 {
    padding-bottom: 20px;
    font-size: 72px;
}

h2 {
    padding-bottom: 20px;
}

h4 {
    font-weight: 400;
    font-size: 18px;
}

h5 {
    font-size: 18px;
    font-width: 100;
}

.container {
    padding: 50px;
}

.center {
    margin: auto;
    width: 40%;
}

.status {
    font-weight: 400;
    font-size: 24px;
    fill: lightgray;
}

.overlay {
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
}

.polaroid {
    position: relative;
    width: 290px;
    border: 1px solid rgb(215, 214, 214);
    background-color: white;
    padding: 15px 15px 80px 15px;
    box-shadow: 5px 10px 10px rgb(189, 189, 189);
    margin-bottom: 30px;
    margin-top: 40px;
}

.polaroid:after {
    content: attr(polaroid-caption);
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

#poem-images {
    /* display: flexbox; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.polaroidContainer {
    height: 400px;
}

.form-polaroid {
    margin-bottom: 100px;
}

.polaroid {
    margin: 10px;
}

.info-btn {
    position: absolute;
    bottom: 10px;
}